* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

.rockets-board {
  background: url(assets/game_bkgrnd.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

rocket-detail {
  padding: 2rem;
}

img {
  width: 50%;
}
